* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
header,
section,
footer {
    width: 100%;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.txtToUppercase {
    text-transform: uppercase;
}
.highlighted {
    color: #24ba9f;
    font-weight: 800;
}
a {
    text-decoration: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
}

/*header - nav bar  */

body > header {
    background-color: black;
    height: 45px;
    line-height: 45px;
}
.header,
.slider {
    height: 100%;
}
body > header .header a {
    color: white;
}
nav > ul {
    position: relative;
}
.menu > li {
    display: inline-block;
    padding-left: 25px;
}
.aboutUs {
    padding-bottom: 15px;
}
.submenu {
    display: none;
    position: absolute;
    background-color: black;
    width: 110px;
    line-height: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 10px;
    margin-top: 9px;
    left: 0;
    z-index: 1;
}
.submenu li {
    padding: 2px 0;
    text-transform: capitalize;
}
/*.aboutUs:hover .submenu {
    display: block;
}*/
.display {
    display: block;
}
.submenu::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 45px;
    /*margin: 10px 45px;*/
}

/*slider*/
#slider {
    /*gradient*/
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, rgbrgb(224, 224, 224)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgb(224, 224, 224)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgb(224, 224, 224)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgb(224, 224, 224)); /* Standard syntax */
}
.slider {
    height: 400px;
}

.slider__image {
    width: 35%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
}

.slider__text {
    width: 35%;
    display: inline-block;
    height: 100%;
    text-align: center;
    padding-top: 70px;
    margin-right: 120px;
}

.slider__text h2 {
    font-size: 30px;
    font-weight: 400;
    padding: 30px;
}

.slider__text p {
    font-size: 15px;
}
.slider__text .button {
    height: 50px;
    line-height: 50px;
    width: 180px;
    border-radius: 5px;
    background-color: #24ba9f;
    margin: 0 auto;
    margin-top: 30px;
}
.slider__text .button a {
    color: white;
    display: block;
}

.slider__arrows {
    position: relative;
    line-height: 400px;
    width: 100%;
    top: 175px;
    z-index: 1;
}
.leftArrow {
    border-left: 3px solid;
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
}

.rightArrow {
    border-right: 3px solid;
    transform: rotate(-45deg);
    position: absolute;
    right: 6px;
}

.arrow {
    border-bottom: 3px solid;
    border-color: #24ba9f;
    width: 30px; height: 30px;
}

/*products*/
.products {
    height: 300px;
    position: relative;
}
.product {
    float: left;
    height: 205px;
    width: 30%;
    border: 1px solid rgb(194, 194, 194);
    margin: 32px 16px;
}
.product img {
    width: 100%;
    height: 100%;
}

.productName {
    position: relative;
}
.productName div {
    float: left;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 30px;
}
.productName div p {
    padding-top: 10px;
    font-size: 14px;
    float: left;
    width: 121px;
    margin-left: 15px;
    border-bottom: 5px solid #24ba9f;
}
.products .product .textProduct div {
    top: 10px;
}
.products .product .textProduct > p{
    font-size: 14px;
    padding-top: 55px;
    margin-left: 15px;
}
.productToggleDisplay {
    display: none;
}

/* offer */

#offer {
    background-color: rgb(230, 230, 230);
}
.offer {
    height: 650px;
    position: relative;
}
.offer > h2 {
    position: absolute;
    padding-top: 20px;
    font-size: 20px;
    float: left;
    width: 30%;
    margin-left: 15px;
    border-bottom: 5px solid #24ba9f;
    display: block;
    font-weight: 400;
}
.offer__plans,
.offer__plansOdd {
    position: relative;
    height: 450px;
    width: 30%;
    padding-top: 30px;
    margin: 0 16px;
    margin-top: 100px;
    float: left;
}
.offer__plans {
    border: 2px solid rgb(190, 190, 190);
    background-color: rgb(243, 243, 243);
}
.offer__plansOdd {
    border: 2px solid #24ba9f;
    background-color: #24ba9f;
}
.outerCircle {
    position: absolute;
    height: 48px;
    width: 48px;
    top: -30px;
    left: 125px;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 50%;
    background-color: white;
    z-index: 2;
}
.innerCircle {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 11px;
    left: 11px;
    background-color: rgb(190, 190, 190);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 50%;
    z-index: 3;
}
.offer h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #24ba9f;
}
.offer .join,
.offer__plansOdd .join {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.offer .join {
    background-color: #24ba9f;
    border: 1px solid #24ba9f;
}
.offer .join a {
    color: white;
    display: block;
}
.offer__plansOdd .outerCircle {
    background-color: #24ba9f;
    border: 2px solid #24ba9f;
}
.offer__plansOdd .innerCircle {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(243, 243, 243);
}
.offer__plansOdd .join {
    background-color: white;
    border: 1px solid white;
}
.offer__plansOdd .join a {
    color: #24ba9f;
}
.offer__plansOdd h3 {
    color: white;
}
.price,
.offer__plansOdd .price {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: white;
}
.price {
    border: 2px solid rgb(190, 190, 190);
}
.offer__plansOdd .price {
    border: 2px solid #24ba9f;
}
.price > p,
.offer__plansOdd .price > p {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: rgb(190, 190, 190);
    line-height: 25px;
    padding-top: 20px;
}
.price > p {
    color: rgb(190, 190, 190);
}
.offer__plansOdd .price > p {
    color: #24ba9f;
}
sup {
    font-size: 15px;
}
.currency {
    font-size: 15px;
}
.whatsIncluded div {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.whatsIncluded div:nth-of-type(n) {
    color: rgb(120, 120, 120);
    font-size: 20px;
}
.whatsIncluded div:nth-of-type(2n+1) {
    background-color: rgb(200, 200, 200);
}
.offer__plansOdd .whatsIncluded div:nth-of-type(2n+1){
    background-color: white;
}
.whatsIncluded div:nth-of-type(2n) {
    background-color: rgb(230, 230, 230);
}





/* contact */
#contact {
    background-color: white;
    height: 600px;
}



/* footer */
footer {
    background-color: white;
    height: 150px;
}

.footer__logo a {
    line-height: 150px;
    font-size: 20px;
    color: rgb(194, 194, 194);
}

.copyrights {
    line-height: 150px;
    font-size: 15px;
    color: rgb(194, 194, 194);
    font-weight: 600;
}
.socialIcons {
    margin-top: 55px;
    margin-right: 80px;
}
